# Analysing mock datasets

In [1]:
# packages

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

import sys
sys.path.append("../src")

from analysis import *
from inference import *

In [ ]:
datapath = "../experiment_outputs/test/datasets/"
datafiles = os.listdir(datapath)
metadatafiles = [f"metadata{i.split('dataset')[1].split('csv')[0]}txt"\
                for i in datafiles]

In [ ]:
df = pd.read_csv(datapath+datafiles[0], index_col=0)
metatext = open(f"{datapath}../metadata/"+metadatafiles[0], "r").read().split("\n")
df

     dataset  measurement_noise       time        dt       sp1       sp2
0        0.0                0.0   0.000000  3.333333  0.432183  0.441384
1        0.0                0.0   3.333333  3.333333  0.431888  0.477743
2        0.0                0.0   6.666667  3.333333  0.451557  0.528708
3        0.0                0.0  10.000000  3.333333  0.451476  0.497147
4        0.0                0.0  13.333333  3.333333  0.443277  0.478435
..       ...                ...        ...       ...       ...       ...
295     19.0                0.1  23.684211  1.578947  0.450561  0.396893
296     19.0                0.1  25.263158  1.578947  0.397652  0.497030
297     19.0                0.1  26.842105  1.578947  0.384065  0.585088
298     19.0                0.1  28.421053  1.578947  0.441262  0.485884
299     19.0                0.1  30.000000       NaN  0.422501  0.510554

[300 rows x 6 columns]

In [ ]:
def get_meta(metatext):
    meta = {}
    for n in range(len(metatext)):
        line = metatext[n]
        if "parameters" in line:
            meta["parameters"] = np.array([np.float64(j) for j in line.split("parameters: ")[1].split(",")])
            break

    meta["init_cond"] = np.array([[np.float64(i) for i in metatext[j].split(",")] for j in range(1, n)])

    for i in range(n+1, len(metatext)-1):
        key, val = metatext[i].split(": ")
        meta[key] = np.float64(val)

    key, val = metatext[-1].split(": ")
    meta[key] = bool(val)

    return meta

In [ ]:
df

,dataset,measurement_noise,time,dt,sp1,sp2,dlogsp1/dt,dlogsp2/dt
0,0.0,0.0,0.000000,3.333333,0.432183,0.441384,-0.000205,0.023747
1,0.0,0.0,3.333333,3.333333,0.431888,0.477743,0.013361,0.030409
2,0.0,0.0,6.666667,3.333333,0.451557,0.528708,-0.000054,-0.018465
3,0.0,0.0,10.000000,3.333333,0.451476,0.497147,-0.005498,-0.011509
4,0.0,0.0,13.333333,3.333333,0.443277,0.478435,0.001248,0.019557
...,...,...,...,...,...,...,...,...
295,19.0,0.1,23.684211,1.578947,0.450561,0.396893,-0.079112,0.142489
296,19.0,0.1,25.263158,1.578947,0.397652,0.497030,-0.022018,0.103305
297,19.0,0.1,26.842105,1.578947,0.384065,0.585088,0.087924,-0.117669
298,19.0,0.1,28.421053,1.578947,0.441262,0.485884,-0.027516,0.031368
299,19.0,0.1,30.000000,NaN,0.422501,0.510554,NaN,NaN

In [ ]:
get_meta(metatext)

{'parameters': array([ 0.5488135 ,  0.71518937, -1.6740246 ,  0.4105985 ,  0.14404357,
        -1.57456311]),
 'init_cond': array([[0.43218286, 0.44138427],
        [0.89498139, 0.30381701],
        [0.39472457, 0.19375925],
        [0.05414083, 0.55097219],
        [0.57845904, 0.20939048]]),
 'env_noise': 0.05,
 't0': 0.0,
 'dt': 0.001,
 'seed': 0.0,
 'repetitions': 1.0,
 'scale_meas_noise_by_abund': True}

In [ ]:
datasets = [df[df.dataset==i] for i in df.dataset.unique()]
fit_ridge_cv(datasets[0])

/home/valeriano/Documents/BEPE/gLV_OED/notebooks/../src/analysis.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[dlogspdt_cols] = np.nan
/home/valeriano/Documents/BEPE/gLV_OED/notebooks/../src/analysis.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[idxs, dlogspdt_cols] = dydt

(array([0.10631919, 0.35516737]),
 array([[-0.32136513,  0.07839409],
        [-0.31167423, -0.43276973]]))